/* .jumbotron{
    background: url(http://freenaturestock.s3.amazonaws.com/166.jpg);
    background-size: 100% 100%;
    height: 600px;
}

#app{
    margin-left: 60px;
    margin-top: -15px;
}

#content{
    padding-top: 70px;
    color: #ffffff;
}

h1{
    font-weight: normal;
    font-size: 65px;
}

.btn-default{
    margin-top: 20px;
    margin-right: 15px;
    color: #ffffff;
    background-color: rgba(145, 82, 58, 0.5);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 10px;
    border-color: #ffffff;

}
.btn-default:hover{
    background-color: #91523A;
    color: #ffffff;
}
#download{
    padding-right: 40px;
    padding-left: 40px;
}
p{
    /* font-weight: bold; 
    font-size: 22px;
}
.logo{
    height: 75px;
    width: 75px;
}

.word{
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    margin-top: 65px;
}
#store{
    text-align: center;
}

#store img{
    width: 200px;
    height: 100px;
    margin: 30px;
}
.footer{
    background-color: #EEEEEE;
    height: 50px;
    font-size: 15px;
    padding: 10px 90px;
} */



.jumbotron{
    background: url(http://freenaturestock.s3.amazonaws.com/166.jpg);
    background-size: 100% 100%;
    height: 600px;
}

.logo img{
    height: 75px;
    width: 75px;
}

.content{
    color: #ffffff;
    padding-top: 50px;
}

.content h1{
    font-size: 70px;
}

.content p{
    font-size: 22px;
}

.content .btn{
    color: #ffffff;
    background-color: rgba(145, 82, 58, 0.5) ;
    margin: 10px 15px 0 0;
    border-radius: 10px;
    border-color: #ffffff;
    font-weight: bold;
    height: 50px;
    width: 180px;
    padding-top: 8px;;
}

.content a:hover{
    color: #ffffff;
    background-color: #91523A;
}

.store{
    text-align: center;
    margin-top: 60px;
}

.store img{
    height: 100px;
    width: 200px;
}

.footer{
    background-color: #eeeeee;
    height: 50px;
    padding-top: 10px;
}

/* @media (max-width: 480px){
    .jumbotron{
        height: 400px;
    }
    .content{
        padding-top: 20px;
        text-align: center;
    }
    .content h1{
        font-size: 35px;
    }
    .content p{
        font-size: 15px;
    }
    .logo img{
        height: 40px;
        width: 40px;
    }
}

@media (min-width: 480px)and (max-width: 768px){
    .content{
        text-align: center;
    }
} */



@media (min-width: 480px) and (max-width: 768px){
    .jumbotron{
        height: 410px;
        margin: 0;
    }
    .logo img{
        width: 50px;
        height: 50px;
    }
    .content h1{  
        font-size: 35px;
    }
    .content p{
        font-size: 17px;   
    }
    .content .btn{
        font-size: 17px;
    }
    .content{
        text-align: center;
        padding-top: 40px;
    }
}

/*Add styling for devices under 480px*/
@media (max-width: 480px){
    .jumbotron{
        height: 410px;
        margin: 0;
    }
    .logo img{
        width: 40px;
        height: 40px;
    }
    .content h1{
        font-size: 20px;  
    }
    .content p, .content p a{
        font-size: 13px;   
    }
    .content{
        text-align: center;
        padding-top: 20px;
    }
    .store img{
        width: 100px;
        height: 35px;
        margin: 10px;
    }
}